<div class="row navSpacer"></div>

<div class="container">
    <div class="row title">
        <h1><span class="title">All About High Learning</span></h1>
    </div>
</div>

<div class="row titleSpacer"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>Stephen Sun</h2>
                            <p><strong>About: </strong> Student at Coder Camps </p>
                            <p><strong>Hobbies: </strong> Electronics and video games </p>
                            <p>
                                <strong>Skills: </strong>
                                <span class="label label-primary tags">Javascript</span>
                                <span class="label label-primary tags">C#</span>
                                <span class="label label-primary tags">AngularJS</span>
                                <span class="label label-primary tags">ASP.NET</span>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="../../images/Profile/Profile Picture.jpg" alt="" class="center-block img-circle img-responsive">
                            <ul class="list-inline ratings text-center" title="Ratings"></ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://twitter.com" class="btn btn-info btn-block"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://github.com" class="btn btn-default btn-block"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://linkedin.com" class="btn btn-primary btn-block"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<hr />

<div class="container col-md-10 col-md-offset-1">
    <div class="jumbotron">
        <h2>Share Projects</h2>
        <p>Higher Learning was created as a technology platform to allow individuals to freely share their work and receive honest feedback from peers. Regardless of background and skill level, we believe that everyone has something worth sharing. Explore what others have created.</p>
        <p><a href="/projects" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-education"></span> Explore</a></p>
    </div>
    <div class="jumbotron">
        <h2>Share Ideas</h2>
        <p>Here at Higher Learning, we recognize that passion and curiosity are the driving factors for new ideas and discoveries. Sometimes, we may need some fresh ideas to get started. See what others are talking about.</p>
        <p><a href="/learn" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-leaf"></span>Discover</a></p>
    </div>
</div>
