<div class="row navSpacer"></div>

<div class="container">
    <div class="row title">
        <h1><span class="title">Admin</span></h1>
    </div>
</div>

<div class="row titleSpacer"></div>

<div class="container col-md-12">
    <hr />
    <a href="/projects/create" class="btn btn-primary btn-lg btn-block"><span class="glyphicon glyphicon-edit"></span> Publish a New Project</a>
    <hr />
</div>


<div id="blogPost" class="container col-md-12" ng-repeat="project in controller.projects">
    <div class="panel panel-default">
        <div class="panel-heading"><a href="/projects/details/{{project.id}}">{{project.title}}</a></div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-success">
                        <div class="panel-heading">Sample Picture 1</div>
                        <div class="panel-body">
                            <img src="../../images/Computers Picture.jpg" alt="" class="img-responsive center-block" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-info">
                        <div class="panel-heading">Sample Picture 2</div>
                        <div class="panel-body">
                            <img src="../../images/Embedded Systems Picture.jpeg" alt="" class="img-responsive center-block" />
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Sample Picture 3</div>
                        <div class="panel-body">
                            <img src="../../images/Web Development Picture.jpg" alt="" class="img-responsive center-block" />
                        </div>
                    </div>
                </div>
                <p id="partial-post" class="post" ta-bind ng-model="project.body">
                    {{project.body}}
                </p>
                <div id="read-more" class="col-md-1 col-md-offset-2">
                    <a href="/projects/details/{{project.id}}" class="btn btn-danger btn-lg"><span class="glyphicon glyphicon-pushpin"></span> Read More</a>
                </div>
            </div>
            <div class="panel-footer">
                <p class="alignLeft">
                    Date Created: {{project.time | date: "longDate"}} <br />
                    Category: {{project.category}}
                <p class="alignRight">
                    Views: <i class="fa fa-eye" fa-2x aria-hidden="true"></i> {{project.views}} <br />
                    <a href="/projects/edit/{{project.id}}">Edit</a> |
                    <a href="/projects/delete/{{project.id}}">Delete</a>
                </p>
            </div>
        </div>
    </div>
    <hr />
</div>




