<div class="row navSpacer"></div>

<div class="container">
    <div class="row title">
        <h1><span class="title">Contact Higher Learning</span></h1>
    </div>
</div>

<div class="row titleSpacer"></div>
<div class="row titleSpacer"></div>
<div class="row titleSpacer"></div>
<div class="row titleSpacer"></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-8">
                            <h2>Stephen Sun</h2>
                            <p><strong>About: </strong> Student at Coder Camps </p>
                            <p><strong>Hobbies: </strong> Electronics and video games </p>
                            <p>
                                <strong>Skills: </strong>
                                <span class="label label-primary tags">Javascript</span>
                                <span class="label label-primary tags">C#</span>
                                <span class="label label-primary tags">AngularJS</span>
                                <span class="label label-primary tags">ASP.NET</span>
                            </p>
                        </div>
                        <div class="col-xs-12 col-sm-4 text-center">
                            <img src="../../images/Profile/Profile Picture.jpg" alt="" class="center-block img-circle img-responsive">
                            <ul class="list-inline ratings text-center" title="Ratings"></ul>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://twitter.com" class="btn btn-info btn-block"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://github.com" class="btn btn-default btn-block"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </div>
                        <div class="col-xs-12 col-sm-4">
                            <a href="https://linkedin.com" class="btn btn-primary btn-block"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>