<a name="about"></a>
<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="intro-message">
                    <h1>Higher Learning</h1>
                    <!--<h3>Put a Tagline Here</h3>-->
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                            <a href="https://twitter.com" class="btn btn-info btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                        </li>
                        <li>
                            <a href="https://github.com" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li>
                            <a href="https://linkedin.com" class="btn btn-primary btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.intro-header -->
<!-- Page Content -->
<a name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Web Development</h2>
                <p class="lead">Check out the web development projects</p>
                <p><a href="/webDevelopment" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-education"></span> Explore</a></p>
            </div>
            <div class="col-md-5 col-md-offset-2 col-sm-6">
                <a href="/webDevelopment"><img src="../../images/Web Development Picture.jpg" height="400" width="500" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Embedded Systems</h2>
                <p class="lead">Check out the embedded projects</p>
                <p><a href="/embeddedSystems" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-education"></span> Explore</a></p>
            </div>
            <div class="col-md-5 col-sm-pull-6  col-sm-6">
                <a href="/embeddedSystems"><img src="../../images/Embedded Systems Picture.jpeg" height="400" width="500" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Computers</h2>
                <p class="lead">Check out computer-related projects</p>
                <p><a href="/computers" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-education"></span> Explore</a></p>
            </div>
            <div class="col-md-5 col-md-offset-2 col-sm-6">
                <a href="/computers"><img src="../../images/Computers Picture.jpg" height="400" width="500" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">3D Printing</h2>
                <p class="lead">Check out the cool things created with 3D printing</p>
                <p><a href="/3DPrinting" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-education"></span> Explore</a></p>
            </div>
            <div class="col-md-5 col-sm-pull-6  col-sm-6">
                <a href="/3DPrinting"><img src="../../images/3D Printing Picture.jpg" style="height:336px; width:500px" class="img-thumbnail" /></a>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<a name="contact"></a>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>Connect with Higher Learning:</h2>
            </div>
            <div class="col-md-6">
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://twitter.com" class="btn btn-info btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                    </li>
                    <li>
                        <a href="https://github.com" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                    </li>
                    <li>
                        <a href="https://linkedin.com" class="btn btn-primary btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.banner -->
<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/projects">Projects</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/learn">Learn</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li class="footer-menu-divider">&sdot;</li>
                    <li>
                        <a href="/contact">Contact</a>
                    </li>
                </ul>
                <p class="copyright text-muted small">Copyright &copy; Higher Learning 2016. All Rights Reserved</p>
            </div>
        </div>
    </div>
</footer>