<div class="row navSpacer"></div>

<div class="container">
    <div class="row title">
        <h1><span class="title">Publish a New Project</span></h1>
    </div>
</div>

<div class="row titleSpacer"></div>

<hr />

<button ng-click="controller.pickFile()">Upload</button>

<img ng-src="{{controller.file.url | fpConvert:{w: 400} }}" alt="{{controller.file.filename}}" />

<hr />

<form ng-submit="controller.saveProject()">
    <div class="container col-md-12">
        <input type="text" id="title" ng-model="controller.project.title" placeholder="Enter a post title..."/>
    </div>
    <div class="row spacer"></div>
    <div class="row spacer"></div>
    <div class="container col-md-12">
        <div text-angular ng-model="controller.project.body" placeholder="Write here..." ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-primary" ta-toolbar-active-button-class="active"></div>
    </div>
    <div class="container col-md-12">
        <input type="text" ng-model="controller.project.category" placeholder="Category..."/>
    </div>

    <div class="row spacer"></div>
    <div class="row spacer"></div>


    <div class="container col-md-12">
        <input type="submit" value="Create Project" />
        <input type="button" ng-click="controller.cancel()" value="Cancel" />
    </div>
</form>

<div class="row spacer"></div>


