<!--<a href="/everything">Back to questions</a>

<h1>Project: {{controller.project.title}}</h1>
<hr />
<h3>{{controller.project.body}}</h3>


<ul>
    <li ng-repeat="comment in controller.project.comments">{{comment.message}} {{comment.time | date: "longDate"}}</li>
</ul>

<form id="commentForm" ng-submit="controller.saveComment()">
    <div>
        <input ng-model="controller.comment.message" />
        <input type="submit" value="Save" />
        <input type="button" ng-click="controller.cancel()" value="Cancel" />
    </div>
    <div>
        <input type="button" value="Thumbs Up" />
        <input type="button" value="Thumbs Down" />

    </div>
</form>-->

<div class="row navSpacer"></div>

<div class="container">
    <div class="row title">
        <h1><span class="title">{{controller.project.title}}</span></h1>
    </div>
</div>

<div class="row titleSpacer"></div>

<div class="row">
    <div class="container col-md-2 col-md-offset-6">
        <div>{{controller.project.time | date: "longDate"}}</div>
    </div>
</div>

<a href="/projects">Back to Projects</a>

<div class="row">
    <div class="container col-md-8 col-md-offset-2">
        <p class="post" ta-bind ng-model="controller.project.body">
            {{controller.project.body}}
        </p>
    </div>
</div>
<hr />

<div class="row">
    <form id="commentForm">
        <div class="col-md-8 col-md-offset-2">
            <textarea id="commentBox" type="text" class="form-control" ng-model="controller.comment.message" placeholder="Add a comment..."></textarea>
        </div>
        <br/>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div id="post-comment">
            <input type="button" class="btn btn-primary btn-md" value="Post Comment" ng-click="controller.saveComment()" />
        </div>
    </form>
</div>

<div class="row spacer"></div>
<div class="row spacer"></div>

<div class="row">
    <div class="container col-md-4 col-md-offset-4">
        <h3 class="text-success">Comments</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-11">
            <div class="project-comment">
                
                <ul class="comments" ng-repeat="comment in controller.project.comments">
                    <li class="clearfix">
                        <div class="post-comments">
                            <p class="meta">
                                {{comment.time | date: "longDate"}}
                                <i class="pull-right"><a href="#"><small>Reply</small></a></i>
                            </p>
                            <p>
                                {{comment.message}}
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row spacer"></div>
<div class="row spacer"></div>