<div class="row navSpacer"></div>

<div class="container">
    <div class="row title">
        <h1><span class="title">Publish a New Project</span></h1>
    </div>
</div>

<div class="row titleSpacer"></div>

<hr />

<form ng-submit="controller.saveProject()">
    <div class="container col-md-12">
        <input type="text" id="title" ng-model="controller.project.title" placeholder="Enter a post title..." required/>
    </div>
    <div class="row spacer"></div>
    <div class="row spacer"></div>
    <div class="container col-md-12">
        <div text-angular ng-model="controller.project.body" placeholder="Write here..." ta-toolbar-class="btn-toolbar" ta-toolbar-group-class="btn-group" ta-toolbar-button-class="btn btn-primary" ta-toolbar-active-button-class="active"></div>
    </div>

    <div class="container col-md-12">
        <div class="form-group">
            <label for="category">Select Category:</label>
            <select ng-model="controller.project.category" class="form-control" id="sel1" required>
                <option value="" disabled selected>Choose a Category</option>
                <option>Web Development</option>
                <option>Embedded Systems</option>
                <option>Computers</option>
                <option>3D Printing</option>
            </select>
        </div>
    </div>

    <div class="row spacer"></div>
    <div class="row spacer"></div>

    <div class="container col-md-12">
        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create Project">
        <input type="button" class="btn btn-danger btn-lg btn-block" ng-click="controller.cancel() "value="Cancel">
    </div>
</form>

<div class="row spacer"></div>
<div class="row spacer"></div>
<div class="row spacer"></div>


