<div class="row navSpacer"></div>

<div class="container">
    <div class="row title">
        <h1><span class="title">Project Categories</span></h1>
    </div>
</div>

<div class="row titleSpacer"></div>

<div class="container">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="image">
                <a href="/everything"><img src="../../images/Everything Picture.jpg" height="400" width="500" class="img-thumbnail" /></a>
                <div class="projects"><h3><span>Everything</span></h3></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image">
                <a href="/everything"><img src="../../images/Everything Picture.jpg" height="400" width="500" class="img-thumbnail" /></a>
                <div class="projects"><h3><span>Featured</span></h3></div>
            </div>
        </div>
    </div>
</div>

<div class="row spacer"></div>

<div class="container">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="image">
                <a href="/webDevelopment"><img src="../../images/Web Development Picture.jpg" height="400" width="500" class="img-thumbnail" /></a>
                <div class="projects"><h3><span>Web Development</span></h3></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image">
                <a href="/embeddedSystems"><img src="../../images/Embedded Systems Picture.jpeg" height="400" width="500" class="img-thumbnail" /></a>
                <div class="projects"><h3><span>Embedded Systems</span></h3></div>
            </div>
        </div>
    </div>
</div>

<div class="row spacer"></div>

<div class="container">
    <div class="col-md-12">
        <div class="col-md-6">
            <div class="image">
                <a href="/computers"><img src="../../images/Computers Picture.jpg" height="400" width="500" class="img-thumbnail" /></a>
                <div class="projects"><h3><span>Computers</span></h3></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="image">
                <a href="/3DPrinting"><img src="../../images/3D Printing Picture.jpg" style="height:336px; width:500px" class="img-thumbnail" /></a>
                <div class="projects"><h3><span>3D Printing</span></h3></div>
            </div>
        </div>
    </div>
</div>

<div class="row spacer"></div>