<div class="row navSpacer"></div>

<h1>Edit Project</h1>
<form ng-submit="controller.saveProject()">
    <div>
        <label>Title</label>
        <input type="text" ng-model="controller.project.title" />
    </div>
    <div>
        <label>Body</label>
        <input type="text" ng-model="controller.project.body" />
    </div>
    <div>
        <label>Category</label>
        <input type="text" ng-model="controller.project.category" />
    </div>
    <input type="submit" value="Create" />
    <input type="button" ng-click="controller.cancel()" value="Cancel" />

</form>