<div class="row navSpacer"></div>

<h1>Are you sure you want to delete this {{controller.project.title}}</h1>

<input type="button" ng-click="controller.deleteProject()" value="Delete" />
<input type="button" ng-click="controller.cancel()" value="Cancel" />

    <!--<div class="row" style="background-color:cornsilk">
        <div class="col-md-12">
            <div class="modal-header">
                <h1>Delete</h1>
            </div>
            <div class="modal-body">
                <h3>Are you sure you want to delete this {{controller.project.title}}</h3>
            </div>
            <div class="modal-footer">
                <input type="button" class="btn btn-primary" ng-click="controller.close()" value="Close" />
                <input type="submit" class="btn btn-primary" ng-click="controller.deleteProject()" value="Delete" />
            </div>

        </div>
    </div>-->